<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CbMesh.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CbMesh.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CbMesh.My.MySettings>
            <setting name="UpdateRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastDataDll" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ExeDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IsCloseAtStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMessageNoClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStartEmpty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeProcess" serializeAs="String">
                <value>0</value>
            </setting>
        </CbMesh.My.MySettings>
    </userSettings>
    <applicationSettings>
        <CbMesh.My.MySettings>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
        </CbMesh.My.MySettings>
    </applicationSettings>
</configuration>
