<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CraftBandSquare45.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CraftBandSquare45.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CraftBandSquare45.My.MySettings>
            <setting name="UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterTablesFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDataDll" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMainGridSide" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainGridOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainGridYoko" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainGridTate" serializeAs="String">
                <value />
            </setting>
            <setting name="ListOutMark" serializeAs="String">
                <value>①</value>
            </setting>
            <setting name="DefaultFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainGridOriColor" serializeAs="String">
                <value />
            </setting>
        </CraftBandSquare45.My.MySettings>
    </userSettings>
    <applicationSettings>
        <CraftBandSquare45.My.MySettings>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
        </CraftBandSquare45.My.MySettings>
    </applicationSettings>
</configuration>
