; CraftBand.config
; --------------------------------------------------------------------------
; This file stores shared system configuration settings for the CraftBand application suite.
; It is loaded by all associated applications.
; --------------------------------------------------------------------------

